<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tetris</title>

  <link rel="stylesheet" href="css/style.css">

  <script src="lib/p5.min.js"></script>
  <script src="bin/figures.js"></script>
  <script src="js/UI.js"></script>
  <script src="js/Block.js"></script>
  <script src="js/Shadow.js"></script>
  <script src="js/Field.js"></script>
  <script src="js/Game.js"></script>
</head>

<body>

</body>

</html>